/* DAM's "official" font is an Adobe font, Canvas Script Heavy. Check lisence and use temp fonts for now */


@import url("https://use.typekit.net/evl4hrd.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: "canvas-script", sans-serif;
    font-weight: 500;
    font-style: none;
    color: black;
}

#logo {
    font-size: 200%;
    text-decoration: none;
    text-align: center;
}