/* DAM's "official" font is an Adobe font, Canvas Script Heavy. Check lisence and use temp fonts for now */


@import url("https://use.typekit.net/evl4hrd.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #71b59c;
}

#menu-styling {
    height: 5vh;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: "canvas-script", sans-serif;
    font-weight: 500;
    color: white;
}

h2 {
    font-family: "canvas-script", sans-serif;
    font-weight: 600;
    color: #000;
}

h3 {
    font-family: "canvas-script", sans-serif;
    font-weight: 300;
    font-size: large;
}

a {
    text-decoration: none;
}

hr {
    border: 1px dotted black;
}

label {
    color: white;
    font-size: 130%;
}

input {
    font-size: 130%;
}

.active {
    color: red;
}

/*General Centering container setup from w3schools*/

.container {
    height: 200px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Navigation Styling */
#logo {
    font-size: 250%;
    text-decoration: none;
    text-align: center;

}

#menu {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-top: 1rem;
}

#menu li {
    display: inline-block;
    margin: 0 3rem;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: rgb(11, 45, 42);
}

@media screen and (max-width: 665px) {
    #menu li {
        margin: 0 1rem;
    }
}

/* Hero image section */
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url(images/cover-image-town.webp) no-repeat center center;
    background-size: cover;
    box-shadow: 5px 0px 30px 10px #53758c inset;
}

#cover-text {
    font-size: 190%;
    text-align: center;
    width: 60%;
    height: 80%;

    animation-name: fade-in;
    animation-duration: 2s;
}

#cover-text p {
    padding: 10px;
    margin-bottom: 5px;
}

.newsletter-button {
    background-color: white;
    color: black;
    padding: 15px 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 30px;
    transition: .5s;
}

.newsletter-button:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

/* fade in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 101;
    }
}

/* Biography Styling*/

.grid-biography {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;


}

.section-header {
    text-align: center;
    font-size: 300%;
    color: #000;
}



.biography {
    padding: 5%;
}

img {
    width: 100%;
}

div.biography h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 200%;
    color: #000;
}

div.biography p {
    margin-top: 50px;
}

#about-people {
    margin-top: 30px;
}



@media screen and (max-width:910px) {
    .grid-biography {
        display: inline;
        margin: 10%;
    }
}


/* About Event Style*/

.the-event {
    margin-top: 2rem;
}


#about-event {
    text-align: center;
    padding-bottom: 150px;
    display: grid;
}

#about-event p {
    padding: 2%;
    text-align: center;
}

#meetup-image {
    height: 400px;
    width: 600px;
    padding: 2%;
}

@media screen and (max-width:910px) {
    #cover-text {
        font-size: 150%;
    }

    #about-event {
        padding: 5%;
    }

    #about-event p {
        margin: 5%;
    }
}

@media screen and (max-width: 665px) {
    #meetup-image {
        padding: 0;
        height: 350px;
        width: auto;
    }

    .the-event {
        margin-bottom: 2rem;
    }

    .about-event-subheader {
        font-size: 200%;
        margin: 1rem 1rem;
    }
}

/* Footer Styling */

footer {
    height: 120px;
    background-color: #71b59c;

}

footer p {
    color: #fff;
    font-size: small;
    bottom: 0;
    margin-right: 10px;
    text-align: right;
}

footer h2 {
    font-size: 500%;
    color: white;
    margin-left: 30px;
    float: left;

}

#sm-links {
    text-align: right;
}

#sm-links li {
    padding: 10px;
    display: inline-block;
    font-size: 250%;
    margin-bottom: 2px;
}

/* Bio page styling */

.gallery-heading {
    text-align: center;
    font-size: 300%;
    padding: 1%;
}

.sm-links-bio li {
    padding: 20px;
    display: inline-block;
    font-size: 250%;
    margin-bottom: 2px;
}

.sm-links-bio {
    text-align: center;
}

/* Past Events styling*/

.gallery-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-flex-container img {
    width: 30vw;
}

.gallery-flex-container img:hover {
    opacity: 30%;
    transition: .3s;
}

@media screen and (max-width:910px) {
    .gallery-flex-container {
        display: inline;
        margin: 0 50px 0;
        vertical-align: center;
    }

    .gallery-flex-container img {
        width: 80vw;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }


    /* Style Signup Form*/

    #signup-form {
        background-color: #254a3d;
        height: 70vh;
        width: auto;
        margin: auto;
        text-align: center;
        vertical-align: middle;
    }

    #signup-form h2 {
        font-size: 250%;
        color: white;
        padding: 30px 10px;
    }

    input[type=text] {
        width: 500px;
        height: 50px;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 5px;
    }

    input[type=text]:focus {
        border: white;
        background-color: #b7c9c2
    }

    input[type=email] {
        width: 500px;
        height: 50px;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    input[type=email]:focus {
        border: white;
        background-color: #b7c9c2
    }