/* DAM's "official" font is an Adobe font, Canvas Script Heavy. Check lisence and use temp fonts for now */


@import url("https://use.typekit.net/evl4hrd.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*for testing purposes*/
nav {
    border: 1px solid red;
}

#menu-styling {
    border: 1px solid cyan;
    height: 10vh;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: "canvas-script", sans-serif;
    font-weight: 500;
    color: black;
}

h2 {
    font-family: "canvas-script", sans-serif;
    font-weight: 600;
}

h3 {
    font-family: "canvas-script", sans-serif;
    font-weight: 300;
    font-size: large;
}

#logo {
    font-size: 250%;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}

hr {
    border: 1px dotted black;
}

/* Navigation Styling */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    font-weight: 600;
}

/*Reminder: this is 20% because: there are 3 element blocks with 2 "space" block on either end. 5/100=20%
edit: 21% works better for some reason - look up why*/
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 21%;
    margin-top: 50px;
    padding-bottom: 5vh;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: grey;
}

/* Hero image section */
#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(/images/temp-logo.jpg) no-repeat center center;
    z-index: -1;
    box-shadow: 5px 0px 30px 10px #000 inset;
    /*animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;*/
}

#cover-text {
    font-size: 190%;
    font-family: "canvas-script", sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    width: 1200px;
    height: 80px;

    text-shadow: 2px 2px 4px #000;

    position: absolute;
    left: 5%;
    top: 30%;
    padding-top: 10px;
    padding-left: 10px;

    animation-name: fade-in;
    animation-duration: 2s;
    /*for developement*/
    border: 1px solid red;
}

#cover-text h2 {
    color: white;
}

/* zoom anim sample */
/*@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

/* fade in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 101;
    }
}

/* Biography Styling*/

.section-header {
    text-align: center;
    font-size: xx-large;
    color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.biography {
    border: 1px solid red;
    padding: 5%;

}

img {
    width: 100%;
}

div.biography h3 {
    margin-top: 30px;
    text-align: center;
    font-size: xx-large;
    color: #000;
}

div.biography p {
    margin-top: 50px;
}

#about-people {
    margin-top: 100px;
}